html, body{
	height: 80%;
}

img{
	max-width:90%;
}
#cover{
	background: white url('../img/banner.png')center center no-repeat;
	background-size: cover;
	color: white;
	height: 90%;
	text-align: center;
	display: flex;
	align-items: center; 
}

#cover-texto{
	width: 100%;
}


#cover-texto_form-inline{
	padding: 5rem 0;
}
.textoa-acerca-de{
	background: rgba(0,0,0.8);
	color: black;
	padding: 1.875rem;
}

#footer{
	background: #222;
	color: white;
	font-size: 0.8rem;
	padding: 0.8rem 0;
}
